/.bash_history
/.bash_logout
/.bashrc
/.cache
/.conda
/.config
/.gnupg
/.ipython
/.local
/.nv
/.profile
/.python_history
/.vscode-server
/.wget-hsts
/Anaconda3-2020.07-Linux-x86_64.sh
/Demo.ipynb
/anaconda3
/examples.desktop